.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-contato {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1.42857143;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  border-color: rgb(221, 221, 221);
}
